$primary: #f5f5f5;
$headheight: 56px;
$bodyheight: calc(100% - 57px);
$sidewidth: 280px;
$mainwidth: calc(100vw - 280px);

*{
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
}
pre{
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
}
input {
  user-select: text;
  -webkit-user-select: text;
  cursor: text;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}
input:focus{
  border-bottom: 1px solid white;
}
*[visibility="hidden"] {
  visibility: hidden !important;
  user-select: none !important;
}
*[display="none"] {
  display: none !important;
  user-select: none !important;
}
html,body,main.wrapper{
  display:flex;
  flex:1;
  height:100%;
  overflow: hidden;
}
html{
  font-family: Helvetica, sans-serif;
  color:white;
  font-size:18px;
}
body {
  margin: 0;
  background: linear-gradient(135deg, #00646d 4%, #411cce);
  background-size: cover;
}
input:focus::placeholder {
  color: #aaa;
}
.app{
  // border: 2px solid white;
  height: calc(100% - 1px);
  display: flex;
  flex: 1;
  position: relative;
  z-index: 100;
}
section.sidebar{
  height:100%;
  display:flex;
  flex-direction: column;
  width:$sidewidth;
  // border-right: 2px solid white;
}
.sidebar-head{
  font-family: Helvetica, sans-serif;
  display:flex;
  flex:1;
  height:$headheight;
  max-height: $headheight;
  align-items: center;
  justify-content: space-between;
  padding-right:10px;
  opacity: 1;
  transition: all 0.2s;
  transform: translate(0,0);
}
.sidebar-left{
  display: flex;
  align-items: center;
}
.plus-icon{
  height:30px;
  width:30px;
  cursor: pointer;
  transition: transform 0.1s;
}
.plus-icon svg{
  height:30px;
  width:30px;
  pointer-events: none;
}
.plus-icon:hover{
  transform: scale(1.05);
}
.iota{
  margin:0 1px 0 15px;
}
.logo{
  margin:10px 11px;
  transition: all 0.2s;
  transform: rotate(0) scaleY(-1);
}
.hide .logo{
  transform: rotate(90deg) scaleY(-1);
}
.hide{
  opacity: 0;
  transform: translate(10px,0);
}
.title{
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-top:2px;
}
.sidebar-body{
  height:$bodyheight;
  width:100%;
  display: flex;
  overflow: auto;
}
section.main{
  height:100%;
  display:flex;
  flex-direction: column;
}

.grid{
  position: fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index: 99;
}
.line{
  stroke:white;
  stroke-width:2px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.content-center{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.url-input-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.url-input{
  height: 55px;
  width: 300px;
  font-size: 22px;
  color: white;
}
.url-input:focus{
  border-bottom: 2px solid white;
}
.url-input-button{
  height:52px;
  width:55px;
  margin-left:10px;
}

.content-header{
  height: $headheight;
  min-height: $headheight;
  max-height: $headheight;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.content-body{
  height:$bodyheight;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.node-info{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top:4px;
  position: relative;
  font-size: 0.8rem;
  min-width: 300px;
  position: absolute;
  right: 0;
  top: 11px;
  z-index: 99;
}
.node-info > div{
  margin-right:20px;
}
.set-url{
  position: absolute;
  top: 42px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  padding-right: 22px;
}
.set-url span {
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.gear-icon{
  height:29px;
  width:29px;
  margin-right: 18px;
  cursor: pointer;
  transition: transform 0.1s;
}
.gear-icon:hover{
  transform: scale(1.05);
}
.gear-icon svg{
  height:29px;
  width:29px;
  pointer-events: none;
}

.create{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:1.08rem;
}

.button{
  font-size:18px;
  border:1px solid white;
  outline:none;
  display:flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  cursor: pointer;
}
.button:hover{
  border:2px solid white;
  background: rgba(255,255,255,0.4);
}
.button:focus{
  outline:none;
}
.button[disabled]{
  border:1px solid grey;
  color:grey;
  cursor: default;
}
.button:hover * {
  cursor: pointer;
}
.button[disabled] * {
  cursor: default;
}
.button[disabled] svg {
  fill: grey;
}
.button[active="true"] {
  border:2px solid white;
  background: rgba(255,255,255,0.4);
  cursor: default;
}
.button[active="true"] * {
  cursor: default;
}

.loading{
  height:18px;
  width:18px;
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.loading.big{
  height:48px;
  width:48px;
}
.loading.small{
  height:12px;
  width:12px;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.receive-wrap{
  width:362px;
  min-width: 362px;
  overflow: hidden;
  z-index: 100;
  position: relative;
}
.receive{
  width:362px;
  height: $headheight;
  transition:transform 0.1s;
  transform: translateX(-317px);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 1px;
}
.receive.show{
  transform:translateX(0px);
}
.wallet{
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: all 0.2s;
  margin-left:15px;
  flex-shrink: 0;
  opacity: 1;
}
.wallet:hover{
  transform: scale(1.05);
}
.wallet svg{
  height: 32px;
  width: 32px;
  pointer-events: none;
}
.wallet.hide-wallet{
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0s;
}
.receive-copy{
  height: 24px;
  width: 63px;
  min-width: 63px;
  font-size: 12px;
  margin-top:5px;
}
.receive-copy.copied{
  background:white;
  color:#00646d;
  font-size:11px;
}
.receive-label{
  font-size:10px;
  margin-left: 2px;
}
.receive-input-wrap{
  margin-top:3px;
}
.receive-addy{
  height: 24px;
  // border-bottom: 1px solid grey;
  width: 200px;
  font-size: 15px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: none;
}
.receive-addy:focus{
  border-bottom: none;
}

.faucet{
  width:18px;
  height:18px;
  flex-shrink: 0;
  cursor: pointer;
  transform: scale(-1, 1);
  transition: transform 0.1s;
}
.faucet:hover{
  transform: scale(-1.05, 1.05);
}
.faucet-button{
  height: 35px;
  padding: 0 18px;
  font-size: 15px;
}
.faucet-button span{
  margin-left: 15px;
}
.coins{
  width:100%;
  padding-left: 1px;
}
.coin{
  display: flex;
  height: 50px;
  border-bottom: 1px solid white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255,0.1);
  cursor: pointer;
  position: relative;
}
.coin:first-child{
  border-top: 1px solid white;
}
.coin:hover{
  background: rgba(255,255,255,0.2);
}
.coin.selected{
  background: rgba(255,255,255,0.3);
}
.coin-left{
  display: flex;
  align-items: center;
  pointer-events: none;
}
.coin-name{
  margin:0 13px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
  transform: scale(0.98);
  transition: transform 0.1s;
}
.coin:hover .coin-name{
  transform: scale(1);
}
.coin-balances{
  display: flex;
  align-items: center;
  font-size:13px;
  margin-right:20px;
  position: absolute;
  top:16px;right:0;
  height:14px;
}
.coin-balance{
  font-size:13px;
  pointer-events: none;
}
.coin-balance-pending{
  margin-left:5px;
}


.back-arrow{
  height:28px;
  width:28px;
  min-width:28px;
  transition: transform 0.1s;
  cursor: pointer;
  margin-right: 10px;;
}
.back-arrow:hover{
  transform: scale(1.1, 1.1);
}
.back-arrow svg{
  height:28px;
  width:28px;
  pointer-events: none;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.page[color="IOTA"]{
  margin-bottom: 1rem;
}
.page-name-wrap{
  max-width: 580px;
  min-width: 150px;
  position: relative;
}
.page-name-wrap:hover + .page-color {
  visibility: visible;
}
.page-name{
  font-size: 54px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-edit {
  position: absolute;
  top: 20px;
  right: -40px;
}
.page-balance{
  margin:42px 0 22px 0;
}
.page-pending{
  font-size: 16px;
}
.page-color{
  font-size: 12px;
  visibility: hidden;
  height:32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.page-color:hover{
  visibility: visible;
}
.page-color span:last-child{
  margin-left:5px;
}
.page-symbol{
  position: absolute;
  top: -96px;
  font-size: 18px;
  font-weight: bolder;
}

.send{
  display:flex;
  margin-top:62px;
}
.send-input{
  height: 42px;
  width: 200px;
  font-size: 15px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}
.send-input:focus{
  border-bottom: 2px solid white;
}
.send-icon{
  width: 18px;
  height: 18px;
  fill:white;
}
.send-button[disabled] .send-icon{
  fill:grey;
}
.send-button span{
  margin-left:6px;
}
.amount-input{
  height: 42px;
  width: 96px;
  font-size: 15px;
  color: white;
  margin-left:10px;
}
.amount-input:focus{
  border-bottom: 2px solid white;
}
.send-button{
  height:42px;
  width:90px;
  margin-left:10px;
  font-size: 15px;
}
.faucet-wrap{
  margin-top:82px;
}
.show-seed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seed-button{
  height:37px;
  width:133px;
  margin-top:24px;
  font-size: 16px;
  line-height: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.create-name{
  font-size: 39px;
}


.create-inputs{
  display: flex;
  flex-direction: column;
  margin-top:42px;
}
.create-input{
  height: 42px;
  width: 200px;
  font-size: 15px;
  color: white;
  margin-bottom: 8px;
}
.create-input:focus{
  border-bottom: 2px solid white;
}
.create-button-wrap{
  display: flex;
  width: 200px;
  justify-content: center;
}
.create-button{
  width:120px;
  height: 39px;
  margin: 52px 0;
  font-size: 16px;
  line-height: 17px;
}
.create-button .plus-icon{
  height:18px;
  width:18px;
}
.create-button svg{
  fill:white;
  height:18px;
  width:18px;
}
.create-button[disabled] svg{
  fill:grey;
}
.create-button span {
  margin-left:8px;
}

.edit-icon{
  height: 23px;
  width: 23px;
  margin-left: 17px;
  margin-right: 2px;
  cursor: pointer;
  transition: transform 0.1s;
}
.edit-icon:hover{
  transform: scale(1.1);
}
.edit-icon svg{
  height: 23px;
  width: 23px;
  pointer-events: none;
}
.edit-coin-inputs{
  max-width: 580px;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:220px;
  margin-bottom:63px;
}
.edit-coin-input{
  min-height:33px;
  width: 150px;
  min-width: 150px;
  height: 25px;
  font-size: 15px;
  color: white;
}
.save-button{
  height: 35px;
  padding: 0 18px;
  font-size: 15px;
}

.settings-url-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  height:25px;
}
.small-url{
  display: flex;
  align-items: center;
  position: relative;
  padding:0 4px;
}
.small-url span {
  font-size: 12px;
  max-width: 172px;
  letter-spacing: 0.32px;
}
.settings-url-input{
  position: absolute;
  top:-5px;
  left:2px;
  width: 100%;
  min-width: 100%;
  height: 25px;
  font-size: 12px;
  color: white;
}
.settings-url-button{
  height:25px;
  width:33px;
  font-size: 12px;
  margin-right: 20px;
}