$primary: #f5f5f5;
$headheight: 50px;
$bodyheight: calc(100% - 50px);
$sidewidth: 280px;

*{
  box-sizing: border-box;
}
html,body,main.wrapper{
  display:flex;
  flex:1;
  height:100%;
}
html{
  font-family: 'Ubuntu', sans-serif;
  color:white;
  font-size:18px;
}
body {
  margin: 0;
  background: linear-gradient(135deg, #00646d 4%, #411cce);
  background-size: cover;
}
.app{
  // border: 2px solid white;
  height: calc(100% - 1px);
  display: flex;
  flex: 1;
  position: relative;
  z-index: 100;
}
section.sidebar{
  height:100%;
  display:flex;
  flex-direction: column;
  width:$sidewidth;
  // border-right: 2px solid white;
}
.sidebar-head{
  font-family: 'Baumans', sans-serif;
  display:flex;
  flex:1;
  height:$headheight;
  max-height: $headheight;
  align-items: center;
  padding-right:10px;
  // border-bottom: 2px solid white;
  opacity: 1;
  transition: all 0.2s;
  transform: translate(0,0);
}
.logo{
  margin:10px 12px;
  transition: all 0.2s;
  transform: rotate(0deg);
}
.hide .logo{
  transform: rotate(-90deg);
}
.hide{
  opacity: 0;
  transform: translate(10px,0);
}
.title{
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top:2px;
  user-select: none;
}
.sidebar-body{
  height:$bodyheight;
  width:100%;
  display: flex;
}
section.main{
  height:100%;
  display:flex;
  flex-direction: column;
}

.grid{
  position: fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  z-index: 99;
}
.line{
  stroke:white;
  stroke-width:2px;
}

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.content-center{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.url-input-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.url-input{
  height: 55px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  width: 300px;
  font-size: 22px;
  color: white;
}
.url-input:focus{
  border-bottom: 2px solid white;
}
.url-input-button{
  height:52px;
  width:55px;
  margin-left:10px;
}

.content-header{
  height: $headheight;
  min-height: $headheight;
  max-height: $headheight;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  width:100%;
}
.content-body{
  height:$bodyheight;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.node-info{
  display:flex;
  align-items: center;
  user-select: none;
}
.node-info > div{
  margin-right:20px;
}

.gear{
  height:32px;
  width:32px;
  margin-right: 18px;
  cursor: pointer;
}

.create{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.button{
  font-size:18px;
  border:1px solid white;
  outline:none;
  display:flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  cursor: pointer;
}
.button:hover{
  border:2px solid white;
  background: rgba(255,255,255,0.4);
}
.button:focus{
  outline:none;
}
.button[disabled]{
  border:1px solid grey;
  color:grey;
}

.create-button{
  height:52px;
  width:165px;
}

.loading.big{
  height:90px;
  width:90px;
}
.loading{
  height:32px;
  width:32px;
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}